.index .title{
  padding: 30px 0px 15px;
  font-size: 24px;
  color: #ef9a43;
}
.index .courses-content{
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.index .courses-content .course{
  padding: 14px 20px 18px;
  border-bottom: 1px solid #ddd;
}
.index .courses-content .course:last-child{
  border: none;
}
.index .courses-content .course .views-num{
  color: #3c5b9a;
}
.index .date-by-views{
  text-align: left;
  color: #999;
}
.index .date-by-views .views{
  text-align: right;
  color: #555;
}
.index .date-by-views .views .num{
  font-size: 18px;
  margin-right: 4px;
  color: #3c5b9a;
  font-weight: 600;
}
.index .course-title{
  padding: 12px 0px 14px;
}
.index .course-title a{
  font-size: 22px;
  color: #555;
  font-weight: 600;
}
.index .course-title a:hover{
  color: #3c9a43;
}
.index .courses-tag .tag{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  padding: 2px 12px;
  color: #3c5b9a;
  background-color: rgba(60, 91, 154, 0.1);
}
.index .courses-tag .tag.track.backbone{
  border: 2px solid #075c94;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  color: #075c94;
  font-weight: 600;
}
.index .courses-tag .tag:first-child{
  margin-left: 0px;
}

.show .courses-head{
  padding: 20px 0px 30px;
}
.show .date-by-views{
  text-align: left;
  color: #999;
}
.show .date-by-views .date-by{
  font-size: 16px;
}
.show .date-by-views .views{
  font-size: 16px;
  text-align: right;
  color: #555;
}
.show .date-by-views .views .num{
  font-size: 24px;
  margin-right: 4px;
  color: #3c5b9a;
  font-weight: 600;
}
.show .courses-title{
  padding: 15px 0px 20px;
}
.show .courses-title h1{
  font-size: 30px;
}
.show .courses-tag .tag{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  padding: 2px 12px;
  color: #3c5b9a;
  background-color: rgba(60, 91, 154, 0.1);
}
.show .courses-tag .tag:first-child{
  margin-left: 0px;
}
.show .courses-tag .tag.track{
  border: 2px solid #075c94;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  color: #075c94;
  font-weight: 600;
}
.show .courses-content{
  font-size: 16px;
}
.show .courses-content .nav-tabs-content{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
}
.show .nav-tabs{
  border: none;
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.show .nav-tabs > li{
  margin-bottom: 0px;
}
.show .nav-tabs > li > a{
  position: relative;
  border: none;
  font-size: 14px;
  color: #bbb;
  font-weight: 600;
}
.show .nav > li > a{
  padding: 14px 20px;
}
.show .nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
  color: #3c9a43;
  border-radius: 0px;
}
.show .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border: none;
  color: #3C9A43;
}
.show .nav-tabs > li.active > a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3c9a43;
  bottom: 0;
  left: 0;
}
.show .twitter-facebook{
  position: absolute;
  right: 0;
  top: 14px;
}
.show .tab-content{
  padding: 40px 0px;
}
.show .heading{
  position: relative;
  min-height: 34px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}
.show .check, .show .checked{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  cursor: pointer;
}
.show .check .fa-check{
  font-size: 32px;
  color: #555;
  display: block;
  margin-top: -4px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.show .check:hover .fa-check{
  opacity: 0.3;
}
.show .checked .fa-check{
  font-size: 32px;
  color: #3C9A43;
  display: block;
  margin-top: -4px;
  opacity: 1;
}
.show code{
  margin: 0px;
  padding: 20px;
  border: 1px solid #ddd;
}

.show .diff .nav-tabs-content{
  padding: 0px 10px;
  height: 40px;
}
.show .diff .nav-tabs-content .file-name{
  float: left;
  width: auto;
  font-size: 14px;
}
.show .diff .nav-tabs-content .switch-btn{
  float: right;
  width: auto;
}
.show .diff .nav-tabs-content .switch-btn .nav-tabs{
  width: auto;
}
.show .diff .btn{
  margin-right: 0px;
  border: 1px solid #c6c6c6;
  padding: 4px 12px;
  font-size: 14px;
}
.show .diff .btn-left{
  border-radius: 4px 0px 0px 4px !important;
}
.show .diff .btn-right{
  border-radius: 0px 4px 4px 0px !important;
}
.show .diff .active .btn{
  background: #f0f0f0;
  border: 1px solid #c6c6c6;
  color: #555555;
  box-shadow: inset 0 0px 15px rgba(0,0,0,0.2);
}
.show .diff .active .btn:after{
  display: none;
}
.show .diff .btn:hover{
  color: #555;
}
.show .diff .tab-content{
  padding: 0;
}
.show .diff .blob-wrapper{
  border: 1px solid #ddd;
  max-height: 450px;
  overflow: scroll;
  border-radius: 0px;
}
.show .diff .blob-wrapper table{
  border: none;
}
.show .diff .file-header{
  border: 1px solid #ddd;
  border-radius: 0px;
  border-bottom: none;
}
.show .diff .diff-table{
  border-collapse: collapse;
  border: none;
}
.show .diff .blob-code{
  border: none;
}
.show .diff .blob-num{
  cursor: default;
}
.show .diff .blob-num:hover{
  color: rgba(0,0,0,0.3);
}
.show .diff .blob-code-inner{
  white-space: nowrap;
}

.show .node{
  padding-bottom: 20px;
}
.show .node + .heading{
  margin-top: 50px;
}
.show .node.image img{
  max-width: 100%;
}

.show .similar-course{
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 40px 0px;
  margin-top: 50px;
}
.show .similar-course .next-course{
  display: block;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 18px;
  padding: 40px 20px;
  border: 1px solid #3C9A43;
  border-radius: 6px;
  color: #3C9A43;
  background-color: rgba(60, 154, 67, 0.1);
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.8;
}
.next-course:before{
  border-color: #3C9A43;
}
.next-course:active:before, .next-course:focus:before, .next-course:hover:before{
  border-width: 2px;
}
.show .similar-course .next-course:hover{
  opacity: 1;
}
.show .similar-course .pre-course{
  width: 700px;
  margin: 0 auto;
}
.show .similar-course .text{
  color: #da3b30;
}

.tracks{
  margin-top: 40px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
}
.tracks-image{
  width: 100%;
  height: 65px;
}
.tracks-image img{
  display: block;
  margin: 0 auto;
  opacity: 0.6;
}
.tracks-name{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 0px;
  border-bottom: 1px solid #ddd;
}
.track-content{
  max-height: 400px;
  overflow: scroll;
}
.track a{
  display: block;
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}
.track a:hover{
  background-color: #f8f8f8;
}
.track:last-child a{
  border: none;
}
.backbone{
  border: 1px solid #ccc;
}
.backbone .tracks-image{
  background-color: #075c94;
}
.backbone .tracks-name{
  color: #075c94;
}

.summary-table{
  font-size: 14px;
}
.summary-table .title{
  width: 120px;
  text-align: center;
  padding: 14px 7px;
  font-weight: 600;
}
.summary-table .text{
  padding: 14px 18px;
  line-height: 24px;
}
.summary-table tr:nth-child(2n){
  background-color: #f8f8f8;
}

.links-content{
  border: 1px solid #ccc;
  font-size: 14px;
}
.links-content .step-num{
  background-color: #f5f5f5;
  padding: 6px 12px;
  font-weight: 600;
}
.links-content .link{
  border-bottom: 1px solid #ddd;
}
.links-content .link.last{
  border: none;
}
.links-content .link a{
  padding: 10px 12px;
  display: block;
}

@media(max-width: 700px){
  .node.image img{
    max-width: 100%;
  }
}