.top #header{
  border-bottom: none;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
}
.top .signup-content{
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
}
.top .signup-content .left-content{
  width: 40%;
  height: 250px;
  box-sizing: border-box;
}
.top .signup-content .right-content{
  width: 60%;
  height: 250px;
  box-sizing: border-box;
}
.top .signup-content .left-content img{
  display: block;
  width: 100%;
}
.top .signup-content .catch, .top .signup-content .site-title{
  font-size: 30px;
  color: #3C9A43;
  font-weight: 600;
}
.top .signup-content .catch .num{
  font-size: 36px;
}
.top .signup-content .signup-btn{
  font-size: 20px;
  margin-top: 24px;
  padding: 8px 40px;
}
.top .top-middle-bar{
  background-color: #eee;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  word-break: break-word;
}
.top .filter{
  margin-bottom: 20px;
}
.top .filter input[type="search"]{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 10px center;
  padding-left: 30px;
  width: 40%;
  box-sizing: border-box;
  min-height: 28px;
  height: 28px;
  margin-left: 10px;
}
.top .filter .form-control:focus{
  border-color: #3c9a43;
  outline: 0;
  box-shadow: none;
}
.top .title-ex{
  text-align: center;
  margin-top: 60px;
  padding-bottom: 15px;
}
.top .title-ex.first{
  margin-top: 45px;
}
.top .title-ex h2{
  font-size: 28px;
}
.top .title-ex p{
  font-size: 16px;
  color: #888;
  margin-top: 20px;
  margin-bottom: 15px;
}
.top .title-ex.first .date{
  font-size: 16px;
  color: #aaa;
}

.top .today-box{
  margin-top: 10px;
}
.top .tab-content{
  margin-top: 20px;
}
.top .tab-content .course:last-child{
  margin-bottom: 0px;
}
.top .nav-tabs > li{
  width: 50%;
}
.top .nav-tabs > li > a{
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 8px 15px;
  border-radius: 6px 6px 0px 0px !important;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}
.top .nav-tabs > li:first-child > a{
  margin-right: 6px;
}
.top .nav-tabs > li:nth-child(2) > a{
  margin-left: 6px;
  margin-right: 0px;
}
.top .nav > li > a:hover, .top .nav > li > a:focus{
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.top .nav > li.active > a, .top .nav > li.active > a:focus{
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #555;
  background-color: #fff;
}
.top .nav > li.active > a:hover{
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #555;
  background-color: #fff;
}
.top .page-link{
  text-align: center;
}
.top .page-link a{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media(max-width: 600px){
  .top .signup-content{
    height: auto;
    padding: 30px 0px;
  }
  .top .signup-content .table{
    width: 100%;
    height: auto;
    float: none;
  }
  .top .signup-content .left-content img{
    width: 60%;
    margin: 0 auto;
  }
  .top .signup-content .right-content{
    margin-top: 10px;
  }
  .top .top-middle-bar{
    height: auto;
    padding: 10px;
  }
}
@media(max-width: 500px){
  .top .signup-content .catch, .top .signup-content .site-title{
    font-size: 26px;
  }
  .top .page-link a{
    width: 100%;
  }
  .top .nav-tabs > li > a{
    font-size: 16px;
  }
}