.index .filter{
  margin-bottom: 20px;
}
.index .filter input[type="search"]{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.index .category-box .filter input[type="search"]{
  background-size: 16px;
  padding-left: 30px;
  width: 40%;
  min-height: 28px;
  height: 28px;
  margin-left: 10px;
}
.index .category-box{
  border: 2px solid #ddd;
  padding: 20px 10px 10px;
  margin: 35px 0px 0px;
}
.index .categories{
  font-size: 0px;
}
.index .categories .category{
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  margin-bottom: 20px;
}
.index .categories .category-icon{
  border: none;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 6px;
}
.index .categories .category-icon.backbone{
  background-color: #085c94;
}
.index .categories .category-icon.ruby{
  background-color: #c21512;
}
.index .categories .category-icon.htmlcss{
  background-color: #95c530;
}
.index .categories .category-icon.git{
  background-color: #5eb3ae;
}
.index .categories .category-icon.javascript{
  background-color: #f9da30;
}
.index .categories .category-icon.jquery{
  background-color: #0aa1cb;
}
.index .categories .category-icon.webdesign{
  background-color: #f19dba;
}
.index .categories .category-icon.ios{
  background-color: #666;
}
.index .categories .category-icon.unix{
  background-color: #705c94;
}
.index .categories .category-icon img{
  display: block;
  width: 80px;
  opacity: 0.8;
}
.index .categories .category:hover > .category-icon{
  opacity: 0.6;
}
.index .categories .category .name{
  margin-top: 2px;
  font-size: 16px;
}

.tracks-boxes{
  padding-top: 40px;
}
.tracks-box{
  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
}
.tracks-head{
  width: 100%;
  height: 65px;
  padding: 0px 15px;
  border-bottom: 1px solid #ccc;
}
.tracks-head .table{
  width: auto;
}
.tracks-head .category-image{
  font-size: 18px;
  font-weight: 600;
}
.tracks-head .category-image .category-icon{
  margin-right: 5px;
}
.tracks-head .category-image img{
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}
.tracks-head .tracks-num{
  font-weight: 600;
  font-size: 16px;
  color: #555;
  line-height: 20px;
}
.tracks-head .tracks-num .num{
  font-size: 20px;
}
.tracks-box .tracks-icon{
  border-radius: 50%;
}
.track-content .track a{
  display: block;
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  position: relative;
}
.track-content .track a.collapsed .caret{
  -moz-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
}
.track-content .track a .caret{
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  font-size: 16px;
  color: #888;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.track-content .track a .courses-num{
  font-size: 14px;
  color: #555;
}
.track-content .track a:hover{
  background-color: rgba(60, 154, 67, 0.05);
}
.track-content .track:last-child a{
  border: none;
}
.track-content .track .list-group-item{
  border: none;
  border-radius: 0px;
  padding: 0px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 0px;
}
.track-content .track .list-group-item:last-child{
  border-bottom-style: solid;
}
.track-content .track .list-group-item:first-child{
  border-top: 1px solid #ddd;
}
.track-content .track .list-group-item a{
  padding-left: 68px;
  border: none;
}
.track-content .track:first-child .list-group-item:first-child{
  border-top: none;
}
.track-content .track:last-child .list-group-item:last-child{
  border-bottom: none;
}
.track-content .track:only-child .list-group-item:first-child{
  border-top: 1px solid #ddd;
}

.tracks-box.backbone .tracks-head{
  background-color: #e7eff4;
  color: #075c94;
}
.tracks-box.backbone .tracks-head .category-icon{
  background-color: #075c94;
  border-radius: 4px;
}
.tracks-box.backbone .tracks-icon{
  background-color: #e7eff4;
  border: 3px solid #075c94;
  margin-right: 5px;
}

.tracks-box.rails .tracks-head, .tracks-box.ruby .tracks-head{
  background-color: #f9e8e9;
  color: #c21512;
}
.tracks-box.rails .tracks-head .category-icon, .tracks-box.ruby .tracks-head .category-icon{
  background-color: #c21512;
  border-radius: 4px;
}
.tracks-box.rails .tracks-icon, .tracks-box.ruby .tracks-icon{
  background-color: #f9e8e9;
  border: 3px solid #c21512;
  margin-right: 5px;
}

.tracks-box.htmlcss .tracks-head{
  background-color: #f5f9eb;
  color: #95c530;
}
.tracks-box.htmlcss .tracks-head .category-icon{
  background-color: #95c530;
  border-radius: 4px;
}
.tracks-box.htmlcss .tracks-icon{
  background-color: #f5f9eb;
  border: 3px solid #95c530;
  margin-right: 5px;
}

.tracks-box.git .tracks-head{
  background-color: #f0f8f7;
  color: #5eb3ae;
}
.tracks-box.git .tracks-head .category-icon{
  background-color: #5eb3ae;
  border-radius: 4px;
}
.tracks-box.git .tracks-icon{
  background-color: #f0f8f7;
  border: 3px solid #5eb3ae;
  margin-right: 5px;
}

.tracks-box.javascript .tracks-head{
  background-color: #fefbec;
  color: #f9da30;
}
.tracks-box.javascript .tracks-head .category-icon{
  background-color: #f9da30;
  border-radius: 4px;
}
.tracks-box.javascript .tracks-icon{
  background-color: #fefbec;
  border: 3px solid #f9da30;
  margin-right: 5px;
}

.tracks-box.jquery .tracks-head{
  background-color: #e9f6fa;
  color: #0aa1cb;
}
.tracks-box.jquery .tracks-head .category-icon{
  background-color: #0aa1cb;
  border-radius: 4px;
}
.tracks-box.jquery .tracks-icon{
  background-color: #e9f6fa;
  border: 3px solid #0aa1cb;
  margin-right: 5px;
}

.tracks-box.webdesign .tracks-head{
  background-color: #fdf5f8;
  color: #f19dba;
}
.tracks-box.webdesign .tracks-head .category-icon{
  background-color: #f19dba;
  border-radius: 4px;
}
.tracks-box.webdesign .tracks-icon{
  background-color: #fdf5f8;
  border: 3px solid #f19dba;
  margin-right: 5px;
}

.tracks-box.ios .tracks-head{
  background-color: #f0f0f0;
  color: #666666;
}
.tracks-box.ios .tracks-head .category-icon{
  background-color: #666666;
  border-radius: 4px;
}
.tracks-box.ios .tracks-icon{
  background-color: #f0f0f0;
  border: 3px solid #666666;
  margin-right: 5px;
}

.tracks-box.unix .tracks-head{
  background-color: #f1eff4;
  color: #705c94;
}
.tracks-box.unix .tracks-head .category-icon{
  background-color: #705c94;
  border-radius: 4px;
}
.tracks-box.unix .tracks-icon{
  background-color: #f1eff4;
  border: 3px solid #705c94;
  margin-right: 5px;
}

.tracks-box .tracks-icon img{
  display: block;
}