.users .user-info{
  padding: 15px 20px;
  margin-top: 35px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  position: relative;
}
.users .user-info .user-img{
  margin-right: 20px;
}
.users .user-info .user-img img{
  display: block;
  border-radius: 14px;
}
.users .user-info .user-ex .name{
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}
.users .user-info .user-ex .learning-data{
  padding: 8px;
  border: 2px solid #ddd;
  background-color: #fff;
  width: 350px;
  text-align: left;
}
.users .user-info .user-ex .learning-data .table-cell{
  width: 50%;
  padding: 3px 8px;
  border-left: 6px solid;
}
.users .user-info .user-ex .learning-data .learning{
  border-color: #e05950;
}
.users .user-info .user-ex .learning-data .completion{
  border-color: #5973a9;
}
.users .user-info .user-ex .learning-data .table-cell .num{
  font-size: 18px;
  font-weight: 600;
}
.users .user-info .profile-edit{
  position: absolute;
  top: 15px;
  right: 20px;
}

.users .learning-history{
  margin-top: 20px;
}
.users .learning-history .title{
  font-size: 20px;
}
.users .learning-history select.form-control{
  width: 120px;
}
.users .courses-content{
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 30px;
}
.users .courses-content .course{
  border-bottom: 1px solid #ddd;
}
.users .courses-content .course:last-child{
  border: none;
}
.users .courses-content .course .course-left{
  padding: 14px 20px 18px;
  text-align: left;
}
.users .date-by-views{
  text-align: left;
  color: #999;
}
.users .date-by-views .views{
  text-align: right;
  color: #555;
}
.users .date-by-views .views .num{
  font-size: 18px;
  margin-right: 4px;
  color: #3c5b9a;
  font-weight: 600;
}
.users .course-title{
  padding: 12px 0px 14px;
}
.users .course-title a{
  font-size: 22px;
  color: #555;
  font-weight: 600;
}
.users .course-title a:hover{
  color: #3c9a43;
}
.users .courses-tag .tag{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 5px;
  padding: 4px 12px;
  color: #3c5b9a;
  background-color: rgba(60, 91, 154, 0.1);
}
.users .courses-tag .tag.track.backbone{
  border: 2px solid #075c94;
  border-radius: 20px;
  background-color: transparent;
  color: #075c94;
  font-weight: 600;
}
.users .courses-tag .tag:first-child{
  margin-left: 0px;
}
.users .courses-content .course .course-right{
  border-left: 1px solid #ddd;
  width: 140px;
}
.users .courses-content .course .course-right .text{
  font-weight: 600;
  color: #888;
  margin-bottom: 4px;
}
.users .courses-content .course .course-right .web-progress{
  width: 100px;
  height: 100px;
  background-color: #379b3e;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}
.users .courses-content .course .course-right .web-progress .progress-color{
  width: 100%;
  height: 100%;
  border: 50px solid #eee;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  position: absolute;
}
.users .courses-content .course .course-right .web-progress .progress-cover{
  width: 100%;
  height: 100%;
  border: 50px solid #eee;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
}
.users .courses-content .course .course-right .web-progress.half-over .progress-cover{
  width: 100%;
  height: 100%;
  border: 50px solid #379b3e;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
}
.users .courses-content .course .course-right .web-progress.progress-10 .progress-cover{
  transform: rotate(-99deg);
}
.users .courses-content .course .course-right .web-progress.progress-20 .progress-cover{
  transform: rotate(-60deg);
}
.users .courses-content .course .course-right .web-progress.progress-30 .progress-cover{
  transform: rotate(-24deg);
}
.users .courses-content .course .course-right .web-progress.progress-40 .progress-cover{
  transform: rotate(12deg);
}
.users .courses-content .course .course-right .web-progress.progress-50 .progress-cover{
  transform: rotate(45deg);
}
.users .courses-content .course .course-right .web-progress.progress-60 .progress-cover{
  transform: rotate(-99deg);
}
.users .courses-content .course .course-right .web-progress.progress-70 .progress-cover{
  transform: rotate(-63deg);
}
.users .courses-content .course .course-right .web-progress.progress-80 .progress-cover{
  transform: rotate(-27deg);
}
.users .courses-content .course .course-right .web-progress.progress-90 .progress-cover{
  transform: rotate(9deg);
}
.users .courses-content .course .course-right .web-progress .progress-num{
  width: 86%;
  height: 86%;
  position: absolute;
  background-color: #fff;
  color: #379b3e;
  border-radius: 50%;
  left: 7%;
  top: 7%;
  font-size: 24px;
  font-weight: 600;
}
.users .mobile-progress{
  display: none;
}
.users .mobile-progress .progress-bar{
  font-size: 10px;
}
.users .mobile-progress .text{
  font-weight: 600;
  color: #888;
  margin-top: 10px;
  margin-bottom: 2px;
  border-top: 1px solid #ddd;
  padding-top: 2px;
  font-size: 12px;
}

@media(max-width: 600px){
  .users .user-info{
    padding: 10px;
  }
  .users .user-info .user-img{
    width: 100%;
    margin: 0px;
  }
  .users .user-info .user-img img{
    margin: 0 auto;
  }
  .users .user-info .user-ex{
    width: 100%;
    text-align: center;
  }
  .users .user-info .user-ex .learning-data{
    width: 100%;
  }
}
@media(max-width: 500px){
  .users .user-info .profile-edit{
    display: none;
  }
  .users .courses-content .course .course-right{
    display: none;
  }
  .users .courses-content .course{
    padding: 10px;
  }
  .users .courses-content .course .course-left{
    padding: 0px;
  }
  .users .course-title a{
    font-size: 18px;
  }
  .users .courses-tag .tag{
    display: none;
  }
  .users .courses-tag .tag.track{
    display: inline-block;
  }
  .users .mobile-progress{
    display: block;
  }
}